<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <form action="/sotre/register" method="post">
        <h1>업체등록</h1>
        <div class="form-group">
            <label for="biz_storename">가게 이름(상호명)</label><br>
            <input type="text" id="biz_storename" name="biz_storename">
            <p>앱에서 고객에게 보여질 가게 이름을 입력해주세요.</p>
            <label for="phone">가게 전화번호</label><br>
            <input type="text" id="phone" name="phone">
            <p>고객이 전화주문 또는 문의할 수 있는 전화번호를 입력해주세요.</p>
            <label for="biz_bossname">대표자명</label><br>
            <input type="text" id="biz_bossname" name="biz_bossname">
            <p>사업자등록증에 표기된 대표자명을 적어주세요.</p>
            <label for="biz_address">사업자 주소</label><br>
            <input type="text" id="biz_address" name="biz_address">
            <p>사업자등록증에 표기된 주소를 적어주세요.</p>
            <label for="biz_number">사업자 번호</label><br>
            <input type="text" id="biz_number" name="biz_number">
            <p>사업자등록증에 표기된 사업자 번호를 적어주세요.</p>
        </div>
        <button type="submit">등록하기</button>
    </form>
</div> <!-- /container -->
</body>
</html>