<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="UTF-8">
	<title>SosangStory Login</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
	<link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>
	<div class="content">
		<div class="login_img">
			<div class="goback"><img th:src="@{/img/coolicon.png}" alt=""></div>
			<div style="width:365px; height: 314px; margin: auto;" class="man1"><img src="img/man1.png" th:src="@{/img/man1.png}" /></div>
		</div>
		<div class="login_div">
			<div class="loginFrm_div">
				<h3>로그인</h3>
				<form class="loginfrm" th:action method="POST">
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

					<input type="text" class="id" name="username" placeholder="이메일을 입력해주세요." />
					<input type="password" class="pwd" name="password" placeholder="비밀번호를 입력해주세요." />
					<button type="submit" class="login_btn">로그인</button>
				</form>
				<div class="login_btns">
					<div>인증 메일 재발송</div>
					<span>|</span>
					<div>비밀번호 찾기</div>
					<span>|</span>
					<div><a sec:authorize="isAnonymous()" th:href="@{/signup}">회원가입</a></div>
				</div>
			</div>
		</div>
	</div>
	<div class="login_footer">
		<div>Copyright © 2020-2021 Circus Corp. All Right Reserved.</div>
		<span>|</span>
		<div>개인정보처리방침</div>
		<span>|</span>
		<div>서비스 이용약관</div>
		<br>
		<div style="margin-left: 70px;">서커스팩토리 사업자등록번호 : 356-88-00968</div>
		<span>|</span>
		<div>대표이사: 박소현</div>
		<span>|</span>
		<div>서울특별시 강남구 테헤란로98길(대치동) 11 EG빌딩</div>
		<span>|</span>
		<div>support@sauce.com</div>
		<span>|</span>
		<div>02-0000-0000</div>
	</div>
</body>

</html>