<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
  <link th:href="@{/css/main.css}" rel="stylesheet" />
  <link th:href="@{/css/login.css}" rel="stylesheet">
  <title>Sosangstory</title>
</head>

<body>

  <div>
    <div class="v103_5"></div><span class="v103_6">Sosangstory</span>
    <div class="v125_18">

      <button class="v125_17">Go to Dashboard</button>
    </div>
  </div>

  <div class="maincontents">
    <div class="mainimg">
      <img th:src="@{/img/main.png}" alt="" />
    </div>
    <div>
      <div class="v126_34177">
        <div>Learn More</div>
      </div>
      <span class="v126_34170">Post a story in your store
        and make coupon</span><span class="v126_34172">We cheer for the new stores!</span>
    </div>
  </div>
  </div>
  <div class="login_footer">
    <div>Copyright © 2020-2021 Circus Corp. All Right Reserved.</div>
    <span>|</span>
    <div>개인정보처리방침</div>
    <span>|</span>
    <div>서비스 이용약관</div>
    <br>
    <div style="margin-left: 70px;">서커스팩토리 사업자등록번호 : 356-88-00968</div>
    <span>|</span>
    <div>대표이사: 박소현</div>
    <span>|</span>
    <div>서울특별시 강남구 테헤란로98길(대치동) 11 EG빌딩</div>
    <span>|</span>
    <div>support@sauce.com</div>
    <span>|</span>
    <div>02-0000-0000</div>
  </div>
</body>

</html>