<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>SosangStorySignup</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
	<link rel="stylesheet" th:href="@{/css/login.css}">
	<link rel="stylesheet" th:href="@{/css/signup.css}">
</head>

<body>
	<div class="content">
		<div class="signup_img">
			<div class="goback">&lt;-</div>
			<div style="width:365px; height: 314px; margin: auto;"><img th:src="@{/img/man1.png}" alt=""/></div>
		</div>
		<div class="signup_div">
			<div class="signupFrm_div">
				<h3>회원가입</h3>
				<div class="signup_msg">회원가입을 위해 아래의 정보들을 입력해주세요<br> 이미 회원가입을 완료하셨다면 <span>로그인</span>을 해주세요</div>
				<form class="signupfrm" th:action="@{/signup}" th:object="${memberFormDto}" method="POST">
					<div>
						<div class="t name"> 이름<span>*</span>
						</div>
						<input type="text" class="inpt name" name="name" placeholder="박소현" />
					</div>
					<div>
						<div class="t birth"> 생년월일<span>*</span></div>
						<input type="text" class="inpt birth" name="birth" placeholder="19970301" />
					</div>
					<div>
						<div class="t phone">핸드폰 번호<span>*</span></div>
						<input type="text" class="inpt phone" name="phone" placeholder="01012345678" />
					</div>
					<div>
						<div class="t email">이메일<span>*</span></div>
						<input type="text" class="inpt email" name="email" placeholder="example@circus.com" />
						<div class="pwdmsg">※영문+숫자+특수기호 12자 이상</div>
					</div>
					<div>
						<div class="t pwd1">비밀번호<span>*</span></div>
						<input type="password" class="inpt pwd1" name="pwd1" placeholder="비밀번호를 입력해주세요" />
					</div>
					<div>
						<div class="t pwd2">비밀번호 재확인<span>*</span></div>
						<input type="password" class="inpt pwd2" name="pwd2" placeholder="비밀번호를 다시 입력해주세요" />
					</div>
					<div class="checkboxFrm">
						<div class="chk"><input type="checkbox" /> &nbsp; 개인정보 이용약관 모두 동의</div>
						<div class="chk"><input type="checkbox" />[필수] <span> &nbsp;개인정보 수집 및 이용</span>에 동의합니다.</div>
						<div class="chk"><input type="checkbox" />[필수] <span> &nbsp; 서비스 이용약관</span>에 동의합니다.</div>
					</div>

				</form>
				<button type="button" class="signup_btn" onclick="">회원가입</button>

			</div>
		</div>
		<div class="signup_footer">
			<div>Copyright © 2020-2021 Circus Corp. All Right Reserved.</div>
			<span>|</span>
			<div>개인정보처리방침</div>
			<span>|</span>
			<div>서비스 이용약관</div>
			<br>
			<div style="margin-left: 70px;">서커스팩토리 사업자등록번호 : 356-88-00968</div>
			<span>|</span>
			<div>대표이사: 박소현</div>
			<span>|</span>
			<div>서울특별시 강남구 테헤란로98길(대치동) 11 EG빌딩</div>
			<span>|</span>
			<div>support@sauce.com</div>
			<span>|</span>
			<div>02-0000-0000</div>
		</div>
	</div>

</body>

</html>